[package]
name = "httpserve"
version = "0.1.7"
edition = "2024"

[dependencies]
actix-web = { version = "4.10.2", default-features = false, features = ["macros"] }
actix-files = "0.6.6"

[profile.release]
lto = true
codegen-units = 1
strip = true